select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;    
    background: transparent;
    background-image: url('../assets/svgs/sort-solid.svg');
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: 50%;
    background-size: 12px;
 }


header{
    width: 100%;
}

.question-icon{
    display: inline-block;
    height:24px;
    width:24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-bottom-left-radius: 0;
    text-align: center;
    line-height: 20px;
    cursor:pointer;
}

.profile-icon{
    display: inline-block;
    height:48px;
    width:48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(235, 100, 51);
    cursor:pointer;
    background: url('../assets/images/avatar.png') no-repeat center ;
    background-size: 50px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
}

.menu-icon span:first-child{
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-icon span:nth-child(2){
    display: inline-block;
    height: 2px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-icon span:last-child{
    display: inline-block;
    height:2px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}